.app {
  font-family: Poppins, sans-serif;
  @apply h-full bg-gray-100 text-white;
}

#navbar-title {
  font-family: "Raleway", sans-serif;
}

.home-banner {
  background-image: url("../../assets/img/home.jpg");
  background-size: cover;
}

@media only screen and (max-width: 576px) {
  .home-banner {
    background-position: center;
  }
}
